{% load static %}

<!-- Bootstrap JS -->
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">




<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!--plugins-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js' %}"></script>
<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'assets/plugins/chartjs/js/chart.js' %}"></script>
<script src="{% static 'assets/plugins/sparkline-charts/jquery.sparkline.min.js' %}"></script>
<!--Morris JavaScript -->
<script src="{% static 'assets/plugins/raphael/raphael-min.js' %}"></script>
<script src="{% static 'assets/plugins/morris/js/morris.js' %}"></script>
<script src="{% static 'assets/js/index2.js' %}"></script>
<!--app JS-->
<script src="{% static 'assets/js/app.js' %}"></script>
