{% load static %}

<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'assets/images/logo.jpeg' %}" class="logo-icon" alt="logo icon" style="width: 50px; height: auto;">

        </div>
      <div>
        <h6 class="logo-text" style="font-size: 16px;">Warranty support</h6>
    </div>
      
    </div>

 {% comment %}
     <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-home-alt'></i></div>
                <div class="menu-title">Dashboard</div>
            </a>
            <ul>
                <li> <a href="index.html"><i class='bx bx-radio-circle'></i>Default</a></li>
                <li> <a href="index2.html"><i class='bx bx-radio-circle'></i>Alternate</a></li>
                <li> <a href="index3.html"><i class='bx bx-radio-circle'></i>Graphical</a></li>
            </ul> 
        </li>{% endcomment %}

    <ul class="metismenu" id="menu">
        <li>
            <a href="javascript:;">
                <div class="parent-icon"><i class='bx bx-home-alt'></i></div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>

        <li>
            <a href="{% url 'customer_list' %}">
                <div class="parent-icon"><i class='bx bx-user'></i></div>
                <div class="menu-title">Manage Customers</div>
            </a>
            
        </li>
       


       

        
    </ul>
</div>
